<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <http auto-config="true" >
        <!--拦截相应的url，判断是否有权限-->
        <intercept-url pattern="/" access="permitAll" />
        <intercept-url pattern="/home" access="permitAll" />
        <intercept-url pattern="/admin**" access="hasRole('ADMIN')" />
        <intercept-url pattern="/dba**" access="hasRole('ADMIN') and hasRole('DBA')" />
        <!--跳转到自定义的登陆页面-->
        <form-login  login-page="/login" username-parameter="username" password-parameter="password" authentication-failure-url="/Access_Denied" authentication-success-handler-ref="customSuccessHandler" />
        <!--
            logout-success-url:指定退出成功之后的url,默认为/?logout
            success-handler-ref:处理退出成功之后，最的处理
            logout-url:指定要触发退出操作,如果没有默认为/logout
        -->
        <logout logout-url="" success-handler-ref="" invalidate-session="true"></logout>
        <csrf/>
    </http>

    <authentication-manager >
        <authentication-provider>
            <user-service>
                <user name="bill"  password="abc123"  authorities="ROLE_USER" />
                <user name="admin" password="root123" authorities="ROLE_ADMIN" />
                <user name="dba"   password="root123" authorities="ROLE_ADMIN,ROLE_DBA" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
    <beans:bean id="customSuccessHandler" class="com.edu.springsecurity.rolebaselogin.configuration.CustomSuccessHandler"></beans:bean>

</beans:beans>
